alias sa='source ~/.aliases'
alias ea='v ~/.aliases'

# Common
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='printf "\n\n\n\n\n\n\n\n\n\n"'
alias ca='cd $1 && la'
alias cl='c; clear'
alias ff='find . -type f -iname'
alias fd='find . -type d -iname'
alias grepc='grep --color'
alias grepi='grep -i --color'
alias grepr='grep -ir --color'
alias l='ls -Ahl'
alias la='ls -Ahl'
alias lt='ls -Ahlrt'
alias lt5='ls -Ahlrt | tail -5'
alias showpath='echo $PATH | tr : \\n | sort'
alias v='vim'

# git
alias ga='git add'
alias gaa='git add .'
alias gb='git branch'
alias gca='git commit -am'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout main'
alias gd='git diff'
alias gl='git log --oneline -10'
alias greset='git checkout . && git reset --hard && git status'
alias gs='git status'

# npm
alias nrb='npm run build'
alias nrd='npm run dev'
alias nrs='npm run serve'
alias nrt='npm run test'

# functions
mcd () { mkdir -p "$1" && cd "$1"; }
